Debug/*
x64/*
*.obj
*.suo
*.db
*.opendb
*/EXE/*
*/x64/*
*/Debug/*
.vs/*
*.ipch
*.exe
*.ilk
*.pdb
*.log
*.tlog
*.lastbuildstate
*idb
*.db-wal
*.db-shm
*.res
EXE/190904_Circus.iobj
EXE/190904_Circus.ipdb
EXE/190911_BattleCity.iobj
EXE/190911_BattleCity.ipdb
EXE/190911_BattleCity.iobj
EXE/190911_BattleCity.ipdb
*.cache
